*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-image: url('../img/pattern.png');
  height: 175px;
  background-color: rgb(28, 118, 221);
}

header img{
  height: 100px;
}
main, footer{
  padding-top: 20px;
  padding-left: 10px;
}
.sottotitolo, .image-foot{
  color: grey;
  font-family: 'Inter', sans-serif;
}
#celeste{
  color: rgb(5, 84, 110);
}
.image-tim, p, table, footer{
  padding-top: 10px;
  padding-bottom: 10px;
}
p span{
  background-color: yellow;
}
.lista{
  padding-left: 15px;
}
.colonnasx{
  width: 25%;
}
.colonnadx{
  width: 50%;
}
.rowhead{
  background-color: rgb(56, 172, 211);
  color: white;
  text-align: left;
}
.rowbody{
  background-color: lightblue;
}
.image-foot{
  width: 300px;
  height: 200px;
  color: white;
  font-size: 20px;
  padding: 20px;
  font-weight: 800;
}
.img1{
  background-image: url('../img/monitor.jpg');
}
.img2{
  background-image: url('../img/graph.jpg');
}